<% provide(:title, "About") %>
    <h1>About</h1>
    <p>Currently <a href="http://www.ringtheking.com/"><em>Pizza King</em></a> is developing a <a href="https://en.wikipedia.org/wiki/Web_application">Web Application</a> built on the popular <a href="http://rubyonrails.org/">Ruby on Rails</a> <a href="https://en.wikipedia.org/wiki/Web_framework">Web Framework.</a></p>
