    <div class="center jumbotron">
        <h1>Ring The King</h1>

    <h2>Ring the King</h2>
    <p>This is the home page for the Pizza King <a href="http://www.ringtheking.com/">Ring the King</a> Web Application.</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <%= link_to image_tag("thepizzaking.png", alt: "The Pizza King", :size => "120x120" ), 'http://www.dustinarmstrong.info' %>
